<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>GenericServletTest</display-name>
    <servlet-name>GenericServletTest</servlet-name>
    <servlet-class>servlet.generic.GenericServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServletTest</servlet-name>
    <url-pattern>/generic</url-pattern>
  </servlet-mapping>
  <display-name>01_GenericServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WordServlet</display-name>
    <servlet-name>WordServlet</servlet-name>
    <servlet-class>servlet.http.WordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WordServlet</servlet-name>
    <url-pattern>/WordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>servlet.http.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/FormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormServlet2</display-name>
    <servlet-name>FormServlet2</servlet-name>
    <servlet-class>servlet.http.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet2</servlet-name>
    <url-pattern>/FormServlet2</url-pattern>
  </servlet-mapping>
</web-app>